<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item activeMenu menu-home">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-home')">Home</a>
      </li>
      <li class="nav-item menu-committee">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-committee')">Committee</a>
      </li>
      <li class="nav-item menu-maintenance">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-maintenance')">Maintenance</a>
      </li>
      <li class="nav-item menu-expense">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-expense')">Expenditure</a>
      </li>
      <li class="nav-item menu-finance">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-finance')">Financials</a>
      </li>
      <li class="nav-item menu-agreements">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-agreements')">Agreements</a>
      </li>
      <li class="nav-item menu-bylaws">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-bylaws')">Bylaws</a>
      </li>
      <li class="nav-item menu-privacy">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-privacy')">Privacy Policy</a>
      </li>
      <li class="nav-item menu-terms">
        <a class="nav-link" href="#" ng-click="selectMenu('menu-terms')">Terms of Use</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
